@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
}

.inner-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

@media all and (min-width: 1280px) {
  .inner-container {
    padding: 0;
  }
}

.pill-button {
  background-color: #b41b21;
  border-radius: 50px;
  font-size: 0.85rem;
  padding: 0.8rem 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  line-height: 1.3rem;
  -webkit-box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.pill-button:hover, .pill-button:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pill-button i {
  font-size: 1.3rem;
  margin-left: 10px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

@media all and (min-width: 1020px) {
  .header-container .inner-container {
    overflow: visible;
  }
}

.header-container .header-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .brand-container {
  background-color: #ffffff;
  padding: 1rem 0.8rem;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
}

@media all and (min-width: 720px) {
  .header-container .brand-container {
    text-align: center;
    padding: 1rem 0.5rem;
  }
  .header-container .brand-container img {
    width: 80%;
  }
}

.header-container .menu-container .menu-burger {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .menu-burger {
    display: none;
  }
}

.header-container .menu-container .menu-burger::before {
  content: "";
  width: inherit;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container .menu-container .menu-burger::after {
  content: "";
  width: inherit;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 0;
}

.header-container .menu-container .menu-burger span {
  width: inherit;
  height: 2px;
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 16px;
  left: 0;
}

.header-container .menu-container .menu-burger.scrolledY::before, .header-container .menu-container .menu-burger.scrolledY::after,
.header-container .menu-container .menu-burger.scrolledY span {
  background-color: #000000;
}

.header-container .menu-container .main-sidemenu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.36);
  display: none;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container {
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu {
  position: absolute;
  top: 0;
  right: -270px;
  background-color: #000000;
  width: 270px;
  height: 100vh;
  padding-top: 1.5rem;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0;
    background-color: transparent;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-close {
  cursor: pointer;
  float: right;
  margin-right: 2rem;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-close {
    display: none;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-close i {
  color: #ffffff;
  font-size: 1.5rem;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-close i:active, .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-close i:hover {
  color: #b41b21;
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu {
  padding: 4rem 0 0 2rem;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu {
    padding: 0;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container {
  padding-bottom: 2rem;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container {
    display: inline-block;
    position: relative;
    padding: 1rem 0;
    margin-left: 30px;
    position: relative;
  }
}

@media all and (min-width: 1020px) and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container:hover .submenu-container {
    display: block;
  }
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-container {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px;
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
  }
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-container:hover {
    display: block;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link-container {
  padding-top: 2rem;
  padding-left: 1rem;
}

@media all and (min-width: 1020px) {
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link-container {
    padding-left: 0;
  }
  .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link-container:first-child {
    padding-top: 0;
  }
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .menu-mobile-link,
.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .menu-mobile-link:active, .header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .menu-mobile-link:hover,
.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link:active,
.header-container .menu-container .main-sidemenu-container .main-sidemenu .main-mobile-sidemenu .menu-mobile-link-container .submenu-mobile-link:hover {
  color: #b41b21 !important;
}
/*# sourceMappingURL=global.css.map */