@import "global";
// hero styles
.hero-container {
  background: url(../assets/hero-background.jpg) no-repeat;
  background-position: 80% bottom;
  background-size: cover;
  padding: 10rem 20px 8rem;

  @media all and (min-width: 720px) {
    padding: 12rem 0 14rem;
  }

  h1 {
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-light;
    text-transform: uppercase;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;

    @media all and (min-width: 720px) {
      text-align: right;
      font-size: 3rem;
    }

    @media all and (min-width: 1020px) {
      padding-right: 8rem;
    }
  }

  p {
    font-family: $font-primary;
    font-size: 0.9rem;
    line-height: 1.9;
    color: $secondary-light;
    margin-bottom: 2rem;
    max-width: 600px;
    float: right;
    text-align: left;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;

    @media all and (min-width: 720px) {
      padding-right: 2rem;
      text-align: right;
      font-size: 1rem;
      line-height: 2.2rem;
    }

    @media all and (min-width: 1020px) {
      padding-right: 8rem;
      max-width: 800px;
    }
  }

  .hero-btn-container {
    clear: both;

    @media all and (min-width: 720px) {
      text-align: right;
      padding-right: 2rem;
    }

    @media all and (min-width: 1020px) {
      padding-right: 8rem;
    }

    a {
      @include pill-button(0.8rem 2rem, 0.85rem, $primary-main, 1rem);
      position: relative;
      top: 0;
      left: 50%;
      opacity: 0;

      @media all and (min-width: 720px) {
        @include pill-button(1rem 2.2rem, 0.85rem, $primary-main, 1rem);
      }
    }
  }
}

// home services styles
.services-container {
  background: url(../assets/bg-mtech-logo.png) no-repeat bottom right,
    $secondary-main;
  background-size: 120%, contain;
  padding: 4rem 0;
  overflow: hidden;

  @media all and (min-width: 1020px) {
    padding: 5rem 0;
    background-size: 70%, contain;
  }

  h3 {
    @include mobile-header($primary-main);
    margin: 0 20px;
  }

  #services-list {
    margin: 3rem 0 2rem;
    padding-left: 20px;

    .service-card {
      border-radius: 1rem;
      box-shadow: $card-shadow;
      text-align: center;
      display: inline-block;
      width: 100%;
      height: 400px;
      background-color: $secondary-light;
      overflow: hidden;
      position: relative;
      top: 50px;
      left: 0;
      opacity: 0;

      i {
        font-size: 6rem;
        color: $primary-main;
        margin: 2rem auto;
      }

      .service-card-details {
        background-color: $secondary-main;
        padding: 1.5rem 1.5rem 2rem;
        height: 100%;

        h4 {
          font-family: $font-primary;
          font-size: 1.2rem;
          font-weight: 700;
          color: $primary-dark;
          margin-bottom: 10px;
        }

        p {
          white-space: normal;
          text-align: justify;
          font-family: $font-primary;
          color: $primary-dark;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 25px;
        }
      }
    }
  }

  .services-controls-container {
    position: relative;
    height: 30px;
    width: 300px;
    margin: 0 auto;
    opacity: 0;

    .glide-custom-array {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;

      &:first-child {
        left: 15%;
      }

      &:last-child {
        right: 15%;
      }

      i {
        font-size: 1.5rem;
        color: $secondary-dark;

        &:active {
          color: $primary-main;
        }
      }
    }

    #services-bullets {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);

      .service-bullet {
        display: inline-block;
        border-radius: 2rem;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        margin-top: 5px;
        background-color: $secondary-dark;

        &:active {
          background-color: $primary-main;
        }

        &.glide__bullet--active {
          background-color: $primary-main;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// about styles
.whoweare-container {
  background: url(../assets/who-we-are-bg.jpg) no-repeat 80% top;
  background-size: cover;
  padding: 4rem 0;

  @media all and (min-width: 1020px) {
    padding: 5rem 0;
  }

  h3 {
    @include mobile-header($secondary-light);
  }

  .whoweare-grid-wrapper {
    margin-top: 3rem;

    @media all and (min-width: 1020px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 6rem;
    }
  }

  .whoweare-intro-container {
    p {
      font-family: $font-primary;
      font-size: 0.85rem;
      font-weight: 400;
      color: $secondary-light;
      line-height: 25px;
      text-align: justify;
      margin-bottom: 2rem;
      position: relative;
      top: 0;
      left: 50%;
      opacity: 0;

      @media all and (min-width: 1020px) {
        font-size: 0.9rem;
        margin-bottom: 3rem;
      }
    }

    a {
      @include pill-button(0.8rem 2rem, 0.85rem, $primary-main, 1rem);
      position: relative;
      top: 0;
      left: 50%;
      opacity: 0;
    }
  }

  .whoweare-others-container {
    margin-top: 3rem;
    background-color: $secondary-light;
    box-shadow: $card-shadow;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;

    @media all and (min-width: 1020px) {
      margin-left: 5rem;
      margin-top: 0;
      padding: 0.5rem 2rem;
    }

    .whoweare-other {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      border-bottom: 1px solid $secondary-dark;
      padding: 1rem 0;

      @media all and (min-width: 1020px) {
        padding: 2rem 0;
        gap: 2rem;
      }

      &:last-child {
        border-bottom: none;
      }

      i {
        color: $primary-main;
        font-size: 2.5rem;

        @media all and (min-width: 1020px) {
          font-size: 3rem;
        }
      }

      h4 {
        font-size: 1rem;
        color: $primary-dark;
        font-family: $font-primary;
        font-weight: 700;
        margin-bottom: 5px;

        @media all and (min-width: 1020px) {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 0.8rem;
        color: $primary-dark;
        font-family: $font-primary;
        line-height: 20px;
        font-weight: 400;
        text-align: justify;

        @media all and (min-width: 1020px) {
          font-size: 0.9rem;
          line-height: 25px;
        }
      }
    }
  }
}

// meet the team styles
.team-container {
  background: url(../assets/meet-the-team-bg.jpg) no-repeat center top;
  background-size: cover;
  padding: 4rem 0;
  overflow: hidden;

  h3 {
    @include mobile-header($secondary-light);
    margin: 0 20px 10px;
  }

  > p {
    font-family: $font-primary;
    font-size: 0.85rem;
    line-height: 1.8;
    color: $secondary-light;
    margin-bottom: 2rem;
    text-align: justify;
    margin: 0 20px;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;
  }

  #team-list {
    margin: 3rem 0 2rem;
    padding-left: 20px;

    @media all and (min-width: 1020px) {
      max-width: 900px;
      margin: 3rem auto 2rem;
    }

    .team-member {
      background-color: $secondary-light;
      border-radius: 1rem;
      height: 300px;
      box-shadow: $card-shadow;
      overflow: hidden;
      position: relative;
      top: 50px;
      left: 0;
      opacity: 0;

      .team-photo-container {
        position: relative;
        background-color: $secondary-dark;
        height: 120px;
        margin-bottom: 5rem;

        img {
          width: 140px;
          height: 140px;
          outline: $secondary-light solid 7px;
          border-radius: 50%;
          position: absolute;
          top: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      h4 {
        font-family: $font-primary;
        font-size: 1rem;
        color: $primary-dark;
        font-weight: 700;
        padding: 0 20px 10px;
        text-align: center;
      }

      p {
        font-family: $font-primary;
        font-size: 0.9rem;
        color: $primary-main;
        font-weight: 600;
        padding: 0 20px 2rem;
        line-height: 1.4;
        text-align: center;
        white-space: normal;
      }
    }
  }

  .team-controls-container {
    position: relative;
    height: 30px;
    width: 300px;
    margin: 0 auto;
    opacity: 0;

    .glide-custom-array {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;

      &:first-child {
        left: 15%;
      }

      &:last-child {
        right: 15%;
      }

      i {
        font-size: 1.5rem;
        color: $secondary-light;

        &:hover,
        &:active {
          color: $secondary-dark;
        }
      }
    }

    #team-bullets {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);

      .team-bullet {
        display: inline-block;
        border-radius: 2rem;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        margin-top: 5px;
        background-color: $secondary-light;

        &:active {
          background-color: $secondary-dark;
        }

        &.glide__bullet--active {
          background-color: $secondary-dark;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// partners styles
.partners-container {
  background-color: $secondary-main;
  padding: 4rem 0;

  @media all and (min-width: 1020px) {
    padding: 5rem 0;
  }

  h3 {
    @include mobile-header($primary-main);
  }

  .partners {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    align-items: center;
    justify-items: center;

    @media all and (min-width: 1020px) {
      margin: 5rem 0 0;
      grid-template-columns: repeat(4, 1fr);
    }

    .partner-logo-container {
      position: relative;
      top: 20%;
      opacity: 0;

      &:hover,
      &:active {
        img:first-child {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        transition: opacity 300ms ease-in-out;

        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
}

// get in touch styles
.getintouch-container {
  background: url(../assets/bg-mtech-logo.png) no-repeat bottom right,
    $secondary-main;
  background-size: 120%, contain;
  padding: 0 0 4rem;

  @media all and (min-width: 1020px) {
    padding: 5rem 0;
    background-size: 70%, contain;
  }

  h3 {
    @include mobile-header($primary-dark);
    margin-bottom: 10px;
  }

  p {
    font-family: $font-primary;
    font-size: 0.85rem;
    line-height: 1.8;
    color: $primary-dark;
    margin-bottom: 2rem;
    text-align: justify;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;

    @media all and (min-width: 1020px) {
      font-size: 0.9rem;
      max-width: 750px;
      margin: 0 auto 2rem;
      text-align: center;
    }
  }

  .form-container {
    background-color: $secondary-main;
    border-radius: 1rem;
    box-shadow: $card-shadow;
    padding: 1rem;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;
    max-width: 900px;
    margin: 0 auto;

    @media all and (min-width: 1020px) {
      margin: 4rem auto 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .form-grid:nth-child(2) {
        .input-container {
          margin: 0;
        }
      }

      .form-grid:nth-child(3) {
        grid-column: 2 / 3;
        text-align: right;
      }
    }

    .input-container {
      margin: 10px 0;

      &:first-child {
        margin: 0 0 10px;
      }

      &:last-child {
        margin: 10px 0 0;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px 1rem;
        border-radius: 5px;
        font-size: 0.9rem;
        font-family: $font-primary;
        font-weight: 600;
        color: $primary-dark;

        &::placeholder {
          color: $primary-dark;
          font-weight: 400;
        }
      }

      textarea {
        min-height: 200px;
        resize: none;

        @media all and (min-width: 1020px) {
          min-height: 152px;
        }
      }

      span {
        margin-top: 5px;
        display: block;
        margin-left: 5px;
        font-size: 0.7rem;
        font-family: $font-secondary;
        color: $primary-main;
        font-weight: 400;
      }
    }

    button {
      @include rectangle-button(0.8rem 2rem, 0.85rem, $primary-main);
      margin-top: 1rem;

      @media all and (min-width: 1020px) {
        margin-top: 0;
      }
    }
  }
}

@import "footer";

// custom glide js styles
.glide__slides {
  overflow: visible;
}
